body {
  position: relative;
}

div.bar {
   display: block;
   font: 12px sans-serif;
   background-color: steelblue;
   text-align: right;
   padding: 3px;
   min-width: 15px;
   margin-bottom: 1px;
   width: 20px;
   height: 14px;
   color: white;
};
